### ignore the anaconda package ### 
packages/anaconda2/
packages/anacon*
### ignore binary, swap, object and library files ### 
**/*.pyc
**/*.swp
**/*.[oa]
**/*.save
**/*_save
**/backup/*
**/save/*   
**/id_dsa_las
**/id_rsa_las
**/*.nc
**/*.png
**/*.jpg
### ignore emacs backup files ### 
**/*~