[submodule "packages/pyresample"]
	path = packages/pyresample
	url = https://github.com/meteoswiss-mdr/pyresample.git
	branch = develop
[submodule "packages/pycoast"]
	path = packages/pycoast
	url = https://github.com/pytroll/pycoast.git
	branch = master
[submodule "packages/pyorbital"]
	path = packages/pyorbital
	url = https://github.com/meteoswiss-mdr/pyorbital.git
	branch = develop
[submodule "packages/posttroll"]
	path = packages/posttroll
	url = https://github.com/pytroll/posttroll.git
	branch = develop
[submodule "packages/trollsift"]
	path = packages/trollsift
	url = https://github.com/pytroll/trollsift.git
	branch = master
[submodule "packages/pytroll-schedule"]
	path = packages/pytroll-schedule
	url = https://github.com/pytroll/pytroll-schedule.git
	branch = master
[submodule "packages/trollimage"]
	path = packages/trollimage
	url = https://github.com/meteoswiss-mdr/trollimage.git
	branch = develop
[submodule "packages/mipp"]
	path = packages/mipp
	url = https://github.com/meteoswiss-mdr/mipp.git
	branch = pre-master
[submodule "packages/mpop"]
	path = packages/mpop
	url = https://github.com/meteoswiss-mdr/mpop.git
	branch = meteoswiss
[submodule "packages/trollduction"]
	path = packages/trollduction
	url = https://github.com/pytroll/trollduction.git
	branch = develop
[submodule "packages/pyspectral"]
	path = packages/pyspectral
	url = https://github.com/meteoswiss-mdr/pyspectral.git
	branch = meteoswiss
[submodule "packages/pydecorate"]
	path = packages/pydecorate
	url = https://github.com/pytroll/pydecorate.git
	branch = master
[submodule "packages/satpy"]
	path = packages/satpy
	url = https://github.com/pytroll/satpy.git
	branch = master
[submodule "packages/pytroll-collectors"]
	path = packages/pytroll-collectors
	url = https://github.com/pytroll/pytroll-collectors.git
	branch = develop
[submodule "packages/trollflow-sat"]
	path = packages/trollflow-sat
	url = https://github.com/pytroll/trollflow-sat.git
	branch = develop
[submodule "packages/trollflow"]
	path = packages/trollflow
	url = https://github.com/pytroll/trollflow.git
	branch = master
[submodule "packages/trollbufr"]
	path = packages/trollbufr
	url = https://github.com/pytroll/trollbufr
	branch = master
[submodule "packages/trollmoves"]
	path = packages/trollmoves
	url = https://github.com/pytroll/trollmoves.git
	branch = develop
[submodule "packages/pytroll-examples"]
	path = packages/pytroll-examples
	url = https://github.com/pytroll/pytroll-examples.git
	branch = master
[submodule "packages/pytroll-cspp-runner"]
	path = packages/pytroll-cspp-runner
	url = https://github.com/pytroll/pytroll-cspp-runner.git
	branch = master
[submodule "packages/pytroll-pps-runner"]
	path = packages/pytroll-pps-runner
	url = https://github.com/pytroll/pytroll-pps-runner.git
	branch = master
[submodule "packages/pytroll-aapp-runner"]
	path = packages/pytroll-aapp-runner
	url = https://github.com/pytroll/pytroll-aapp-runner.git
	branch = master
[submodule "packages/pygac"]
	path = packages/pygac
	url = https://github.com/pytroll/pygac.git
	branch = master
[submodule "packages/pyninjotiff"]
	path = packages/pyninjotiff
	url = https://github.com/pytroll/pyninjotiff.git
	branch = master
[submodule "packages/pykdtree"]
	path = packages/pykdtree
	url = https://github.com/pytroll/pykdtree.git
	branch = master
[submodule "packages/pytroll-product-filter"]
	path = packages/pytroll-product-filter
	url = https://github.com/pytroll/pytroll-product-filter.git
	branch = master
[submodule "packages/pytroll-modis-runner"]
	path = packages/pytroll-modis-runner
	url = https://github.com/pytroll/pytroll-modis-runner.git
	branch = master
[submodule "packages/pytroll-osisaf-runner"]
	path = packages/pytroll-osisaf-runner
	url = https://github.com/pytroll/pytroll-osisaf-runner.git
	branch = master
[submodule "packages/python-bufr"]
	path = packages/python-bufr
	url = https://github.com/pytroll/python-bufr.git
	branch = master
[submodule "packages/pygranule"]
	path = packages/pygranule
	url = https://github.com/pytroll/pygranule.git
	branch = master
[submodule "packages/aggdraw"]
	path = packages/aggdraw
	url = https://github.com/pytroll/aggdraw.git
	branch = master
