[submodule "packages/pyresample"]
	path = packages/pyresample
	url = https://github.com/meteoswiss-mdr/pyresample.git
	branch = pre-master
[submodule "packages/pycoast"]
	path = packages/pycoast
	url = https://github.com/pytroll/pycoast.git
	branch = master
[submodule "packages/pyorbital"]
	path = packages/pyorbital
	url = https://github.com/meteoswiss-mdr/pyorbital.git
	branch = master
[submodule "packages/posttroll"]
	path = packages/posttroll
	url = https://github.com/pytroll/posttroll.git
	branch = develop
[submodule "packages/trollsift"]
	path = packages/trollsift
	url = https://github.com/pytroll/trollsift.git
	branch = master
[submodule "packages/pytroll-schedule"]
	path = packages/pytroll-schedule
	url = https://github.com/pytroll/pytroll-schedule.git
	branch = develop
[submodule "packages/trollimage"]
	path = packages/trollimage
	url = https://github.com/meteoswiss-mdr/trollimage.git
	branch = develop
[submodule "packages/mipp"]
	path = packages/mipp
	url = https://github.com/meteoswiss-mdr/mipp.git
	branch = pre-master
[submodule "packages/mpop"]
	path = packages/mpop
	url = https://github.com/meteoswiss-mdr/mpop.git
	branch = meteoswiss
[submodule "packages/trollduction"]
	path = packages/trollduction
	url = https://github.com/pytroll/trollduction.git
	branch = develop
[submodule "packages/pyspectral"]
	path = packages/pyspectral
	url = https://github.com/meteoswiss-mdr/pyspectral.git
	branch = meteoswiss
[submodule "packages/pydecorate"]
	path = packages/pydecorate
	url = https://github.com/pytroll/pydecorate.git
	branch = master
[submodule "packages/satpy"]
	path = packages/satpy
	url = https://github.com/pytroll/satpy.git
	branch = develop
