abstract-rendering
#aggdraw
alabaster
anaconda-client
argcomplete
argh
astropy
Babel
backports-abc
backports.ssl-match-hostname
beautifulsoup4
bitarray
blaze
bokeh
boto
Bottleneck
cdecimal
cffi
clyent
colorama
configobj
cryptography
cycler
Cython
cytoolz
datashape
decorator
docutils
dynd
enum34
fastcache
Flask
funcsigs
gevent
gevent-websocket
greenlet
grin
h5py
idna
inotify
ipaddress
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jdcal
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
llvmlite
lxml
MarkupSafe
matplotlib
#-e git+https://github.com/pytroll/mipp.git@d053266d90bff3188d6a9a234a640612b1ebe35a#egg
mistune
#-e git+https://github.com/meteoswiss-mdr/mpop.git@313132440d6c59be6f295fcb3e1c390b27073b1b#egg
multipledispatch
nbconvert
nbformat
netCDF4
netifaces
networkx
nltk
nose
notebook
numba
numexpr
numpy
odo
openpyxl
pandas
path.py
pathtools
patsy
pep8
pexpect
pickleshare
PIL
Pillow
ply
#-e git+https://github.com/pytroll/posttroll.git@7726dd6731b86b0a6be6da4dea60786dd73066c0#egg
psutil
ptyprocess
py
pyasn1
pycairo
#-e git+https://github.com/pytroll/pycoast.git@1393b4fc47d0c9adcf42beb85d03d33d9fefd187#egg
pycosat
pycparser
pycrypto
pycurl
#-e git+https://code.google.com/p/pydecorate/@dd1930a0817b4c6d7cb5e20e79538825b1202746#egg
pyflakes
Pygments
#pygrib
pyinotify
pykdtree
pyOpenSSL
#-e git+https://github.com/pytroll/pyorbital.git@a2aa5e10f70f4cc8218050e43a961755c37e4d44#egg
pyparsing
pyproj
#-e git+https://github.com/pytroll/pyresample.git@fda439a4cce7a8c9e02b502fc7881f1973cfd9ca#egg
pyshp
#-e git+https://github.com/adybbroe/pyspectral.git@cc86078993786799ae0bcf78e9d5021ae7805d1d#egg
pytest
python-dateutil
#-e git+https://github.com/pytroll/pytroll-schedule.git@19555abbf1ddd80baf59c993108754e536d84eb1#egg
pytz
PyYAML
pyzmq
qtconsole
redis
requests
rope
scikit-image
scikit-learn
scipy
simplegeneric
singledispatch
six
snowballstemmer
sockjs-tornado
Sphinx
sphinx-rtd-theme
spyder
SQLAlchemy
statsmodels
sympy
tables
terminado
Theano
toolz
tornado
traitlets
#-e git+https://github.com/pytroll/trollduction.git@d2e31bc14ea3ae763863b4159318287a6a378572#egg
#-e git+https://github.com/meteoswiss-mdr/trollimage.git@2066c4891e80c937e7c0e6ff71caa9db6694e27c#egg
#-e git+https://github.com/pytroll/trollsift.git@0eec9cc8a743e2b7d1f374880213b18fea84ba23#egg
ujson
unicodecsv
watchdog
Werkzeug
wheel
xlrd
XlsxWriter
xlwt
