abstract-rendering==0.5.1
#aggdraw==1.2a3.post20060212
alabaster==0.7.6
anaconda-client==1.2.1
argcomplete==1.0.0
argh==0.26.1
astropy==1.0.6
Babel==2.1.1
backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.4.1
bitarray==0.8.1
blaze==0.8.3
bokeh==0.10.0
boto==2.38.0
Bottleneck==1.0.0
cdecimal==2.3
cffi==1.2.1
clyent==1.2.0
colorama==0.3.3
configobj==5.0.6
cryptography==0.9.1
cycler==0.9.0
Cython==0.23.4
cytoolz==0.7.4
datashape==0.4.7
decorator==4.0.6
docutils==0.12
dynd==9b63882
enum34==1.0.4
fastcache==1.0.2
Flask==0.10.1
funcsigs==0.4
python-geotiepoints==1.0.0
gevent==1.0.1
gevent-websocket==0.9.3
Glymur==0.8.8
greenlet==0.4.9
grin==1.2.1
h5netcdf==0.3.1
h5py==2.5.0
idna==2.0
inotify==0.2.4
ipaddress==1.0.14
ipykernel==4.1.1
ipython==4.0.3
ipython-genutils==0.1.0
ipywidgets==4.1.0
itsdangerous==0.24
jdcal==1.0
jedi==0.9.0
Jinja2==2.8
jsonschema==2.4.0
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.0.3
jupyter-core==4.0.6
llvmlite==0.8.0
lxml==3.4.4
MarkupSafe==0.23
matplotlib==1.5.1
#-e git+https://github.com/pytroll/mipp.git@d053266d90bff3188d6a9a234a640612b1ebe35a#egg=mipp&subdirectory=../../../packages/mipp
mistune==0.7.1
#-e git+https://github.com/meteoswiss-mdr/mpop.git@313132440d6c59be6f295fcb3e1c390b27073b1b#egg=mpop&subdirectory=../../../packages/mpop
multipledispatch==0.4.8
nbconvert==4.0.0
nbformat==4.0.1
netCDF4==1.2.1
netifaces==0.10.4
networkx==1.10
nltk==3.1
nose==1.3.7
notebook==4.0.6
numba==0.22.1
numexpr==2.4.4
numpy==1.10.4
odo==0.3.4
openpyxl==2.2.6
pandas==0.17.1
path.py==0.0.0
pathtools==0.1.2
patsy==0.4.0
pep8==1.6.2
pexpect==3.3
pickleshare==0.5
PIL==1.1.7
Pillow==8.3.2
ply==3.8
#-e git+https://github.com/pytroll/posttroll.git@7726dd6731b86b0a6be6da4dea60786dd73066c0#egg=posttroll&subdirectory=../../../packages/posttroll
psutil==3.3.0
ptyprocess==0.5
py==1.4.30
pyasn1==0.1.9
pycairo==1.10.0
#-e git+https://github.com/pytroll/pycoast.git@1393b4fc47d0c9adcf42beb85d03d33d9fefd187#egg=pycoast&subdirectory=../../../packages/pycoast
pycosat==0.6.1
pycparser==2.14
pycrypto==2.6.1
pycurl==7.19.5.1
#-e git+https://code.google.com/p/pydecorate/@dd1930a0817b4c6d7cb5e20e79538825b1202746#egg=pydecorate&subdirectory=../../../packages/pydecorate
pyflakes==1.0.0
Pygments==2.0.2
#pygrib==2.0.1
pyinotify==0.9.6
pykdtree==1.0
pyOpenSSL==0.15.1
#-e git+https://github.com/pytroll/pyorbital.git@a2aa5e10f70f4cc8218050e43a961755c37e4d44#egg=pyorbital&subdirectory=../../../packages/pyorbital
pyparsing==2.0.3
pyproj==1.9.4
#-e git+https://github.com/pytroll/pyresample.git@fda439a4cce7a8c9e02b502fc7881f1973cfd9ca#egg=pyresample&subdirectory=../../../packages/pyresample
pyshp==1.2.3
#-e git+https://github.com/adybbroe/pyspectral.git@cc86078993786799ae0bcf78e9d5021ae7805d1d#egg=pyspectral&subdirectory=../../../packages/pyspectral
pytest==2.8.1
python-dateutil==2.4.2
#-e git+https://github.com/pytroll/pytroll-schedule.git@19555abbf1ddd80baf59c993108754e536d84eb1#egg=pytroll_schedule&subdirectory=../../../packages/pytroll-schedule
pytz==2015.7
PyYAML==3.11
pyzmq==15.2.0
qtconsole==4.1.1
redis==2.10.3
requests==2.8.1
rope==0.9.4
scikit-image==0.11.3
scikit-learn==0.17
scipy==0.17.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.0
sockjs-tornado==1.0.1
Sphinx==1.3.1
sphinx-rtd-theme==0.1.7
spyder==2.3.8
SQLAlchemy==1.0.9
statsmodels==0.6.1
sympy==0.7.6.1
tables==3.2.2
terminado==0.5
Theano==0.7.0
toolz==0.7.4
tornado==4.3
traitlets==4.1.0
#-e git+https://github.com/pytroll/trollduction.git@d2e31bc14ea3ae763863b4159318287a6a378572#egg=trollduction&subdirectory=../../../packages/trollduction
#-e git+https://github.com/meteoswiss-mdr/trollimage.git@2066c4891e80c937e7c0e6ff71caa9db6694e27c#egg=trollimage&subdirectory=../../../packages/trollimage
#-e git+https://github.com/pytroll/trollsift.git@0eec9cc8a743e2b7d1f374880213b18fea84ba23#egg=trollsift&subdirectory=../../../packages/trollsift
ujson==1.33
unicodecsv==0.14.1
watchdog==0.8.3
Werkzeug==0.11.2
wheel==0.29.0
xlrd==0.9.4
XlsxWriter==0.7.7
xlwt==1.0.0
