#aggdraw
argh
#astropy
Babel
backports-abc
backports.ssl-match-hostname
blaze
Bottleneck
Cython
dynd
Flask
inotify
ipython-genutils
Jinja2
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
netCDF4
netifaces
numpy
pathtools
PIL
Pillow
Pygments
#pygrib
pyinotify
pykdtree
pyOpenSSL
pyshp
PyYAML
Sphinx
sphinx-rtd-theme
SQLAlchemy
tables
Theano
watchdog
Werkzeug
XlsxWriter
